@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.952);
}
body h3, h4, h5 {
    color: #fff;
}
a {
    text-decoration: none;
}
.logo {
    display: flex;
    justify-content: center;
}
.img-logo {
    width: 300px;
    margin-top: 30px
}
.img-logo img {
    width: 100%;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: white;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 20px;
    width: 40px;
}
.buttons {
    margin-top: 30px;
    border-bottom: 1px solid white;
}
.buttons button {
    width: 100px;
    height: 40px;
    background-color: red;
    border-radius: 10px;
    margin-bottom: 10px;
}
.sanduiche {
    margin-top: 30px;
    display: flex;
    gap: 40px;
    overflow-y: auto;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: inset 0px 0px 20px white;
    border-radius: 20px 20px 10px 10px;
    background-color: black;
}
.sanduiche h3 {
    font-size: 2em;
    font-style: italic;
    padding-top: 20px;
    color:#fff;
}
.produto {
    width: 300px;
    height: 440px;
    margin-bottom: 30px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.produto h4 {
    padding: 10px;
    color: #fff;
}
.img-produto {
    width: 300px;
    height: 300px;
}
.produto img {
    width: 80%;
    height: 300px;
}
.informativo-combo {
    margin: 10px;
    margin-bottom: 30px;
}
.informativo-combo h4 {
    margin-bottom: 5px;
}
span {
    color: red;
    font-size: 1.5em;
    text-decoration: underline;
}
.batatas {
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.valor-x {
    color: red;
}
.informativo-site {
    margin: 20px 0px;
}
.informativo-site a {
    color: red;
    text-decoration: none;
}
.informativo-site h5 {
    margin-bottom: 5px;
}